.search_contianer {
  display: flex;
  gap: 40px;
}

.search_List {
  padding-top: 30px;
  padding-bottom: 30px;
}
.cart_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  border: 2px solid rgba(36, 36, 188, 0.61);
  border-radius: 29px;
  padding: 10px 20px;
  margin-bottom: 20px;
  transition: all 0.5s ease;
  color: rgb(10, 10, 82);
  cursor: pointer;

  &:hover {
    background-color: rgba(36, 36, 188, 0.61);
    color: aliceblue;
    transition: all 0.5s ease;
  }
}
.cart_container_img {
  width: 100px;
  height: auto;
}
.box,
.box2 {
  display: flex;
  gap: 20px;
  align-items: center;
}
